.logo-wrapper{
  border-bottom: 1px dashed #f5f5f5;
  box-sizing: border-box;
  height: @navBarHeight;
  min-height: @navBarHeight;
  max-height: @navBarHeight;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
